<%= simple_form_for @recipe do |f| %>

  <fieldset id="recipe_metadata">
    <legend>
      <% if @recipe.persisted? %>
        Edit Recipe "<%= @recipe.name %>"
      <% else %>
        New Recipe
      <% end %>
    </legend>
    <%= f.input :name %>
    <div class="metadata">
      <%= f.input :preparation_time %>
      <%= f.input :cooking_time %>
      <%= f.input :servings %>
      <%= f.input :serving_units, input_html: {
        class: 'autocomplete_single',
        'data-target' => autocompletes_serving_units_path
      }%>
    </div>
  </fieldset>

  <fieldset id="ingredients">
    <legend>Ingredients</legend>
    <div id="ingredients_container">
      <%= f.simple_fields_for :recipe_ingredients do |ri_form| %>
        <div class="ingredient" data-ingredient-index="<%= ri_form.index %>">
          <% if ri_form.object.persisted? %>
            <%= ri_form.input :_destroy, as: :boolean %>
          <% else %>
            <div class="recipe_recipe_ingredients__destroy">&nbsp;</div>
          <% end %>
          <%= ri_form.input :quantity %>
          <%= ri_form.input :unit, input_html: {
            class: 'autocomplete_single',
            'data-target' => autocompletes_ingredient_units_path
          }%>
          <%= ri_form.simple_fields_for :ingredient do |i_form| %>
            <%= i_form.input :name, required: false, input_html: {
              class: 'autocomplete_single',
              'data-target' => autocompletes_ingredient_names_path
            }%>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="more_ingredients">
      <a href="#" id="more_ingredients_control">More ingredients</a>
    </div>
  </fieldset>

  <fieldset id="directions">
    <legend>Directions</legend>
    <%= f.input :directions, as: :text %>
    <p class="markdown_info"><%= link_to('You can use markdown formatting', '//daringfireball.net/projects/markdown/basics', target: '_blank') %></p>
  </fieldset>

  <fieldset id="taggables">
    <legend>Metadata</legend>
    <%= f.input :cooking_method_list, as: :text, input_html: {
        class: 'autocomplete_multiple',
        'data-target' => autocompletes_cooking_methods_path
      }%>
    <%= f.input :cultural_influence_list, as: :text, input_html: {
        class: 'autocomplete_multiple',
        'data-target' => autocompletes_cultural_influences_path
      }%>
    <%= f.input :course_list, as: :text, input_html: {
        class: 'autocomplete_multiple',
        'data-target' => autocompletes_courses_path
      }%>
    <%= f.input :dietary_restriction_list, as: :text, input_html: {
        class: 'autocomplete_multiple',
        'data-target' => autocompletes_dietary_restrictions_path
      }%>
  </fieldset>

  <fieldset id="images">
    <legend>Images</legend>
    <div class="images">
      <%= f.simple_fields_for :images do |image_form| %>
        <div class="image">
          <%= image_form.input :caption %>
          <%= image_form.input :featured, as: :boolean %>
          <% if image_form.object.persisted? %>
            <%= image_form.input :_destroy, as: :boolean %>
            <%= link_to(filepicker_image_tag(image_form.object.filepicker_url, w: 32, h: 32, fit: 'crop', cache: true), filepicker_image_url(image_form.object.filepicker_url), target: '_blank') %>
          <% end %>
          <%= image_form.filepicker_field :filepicker_url, mimetypes: 'image/*', onchange: 'photoUploaded(event)' %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <fieldset>
    <%= f.button :submit %>
  </fieldset>

<% end %>
