<%= simple_form_for @recipe do |f| %>

  <fieldset id="recipe_metadata">
    <legend>
      <% if @recipe.persisted? %>
        Edit Recipe "<%= @recipe.name %>"
      <% else %>
        New Recipe
      <% end %>
    </legend>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <p class="markdown_info"><%= link_to('You can use markdown formatting in your description', '//daringfireball.net/projects/markdown/basics', target: '_blank') %></p>
    <div class="metadata">
      <%= f.input :preparation_time %>
      <%= f.input :cooking_time %>
      <%= f.input :servings %>
      <%= f.input :serving_units, input_html: {
        class: 'autocomplete_single',
        'data-target' => autocompletes_serving_units_path
      }%>
    </div>
  </fieldset>

  <fieldset id="ingredients">
    <legend>Ingredients</legend>
    <div id="ingredients_container">
      <p>An ingredient needs to have either a quantity or a unit, along with a name.</p>
      <div class="ingredient">
        <div class="recipe_recipe_ingredients__destroy header">
          Remove
        </div>
        <div class="recipe_recipe_ingredients_quantity header">
          Quantity
        </div>
        <div class="recipe_recipe_ingredients_unit header">
          Unit
        </div>
        <div class="recipe_recipe_ingredients_ingredient_name header">
          Name
        </div>
      </div>
      <%= f.simple_fields_for :recipe_ingredients do |ri_form| %>
        <div class="ingredient" data-ingredient-index="<%= ri_form.index %>">
          <% if ri_form.object.persisted? %>
            <%= ri_form.input :_destroy, as: :boolean, label: false %>
          <% else %>
            <div class="recipe_recipe_ingredients__destroy">&nbsp;</div>
          <% end %>
          <%= ri_form.input :quantity, label: false %>
          <%= ri_form.input :unit, label: false, input_html: {
            class: 'autocomplete_single',
            'data-target' => autocompletes_ingredient_units_path
          }%>
          <%= ri_form.simple_fields_for :ingredient do |i_form| %>
            <%= i_form.input :name, required: false, label: false, input_html: {
              class: 'autocomplete_single',
              'data-target' => autocompletes_ingredient_names_path
            }%>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="more_ingredients">
      <a href="#" id="more_ingredients_control">More ingredients</a>
    </div>
  </fieldset>

  <fieldset id="directions">
    <legend>Directions</legend>
    <%= f.input :directions, as: :text %>
    <p class="markdown_info"><%= link_to('You can use markdown formatting in the directions', '//daringfireball.net/projects/markdown/basics', target: '_blank') %></p>
  </fieldset>

  <fieldset id="taggables">
    <legend>Metadata</legend>
    <%= f.input :cooking_method_list, as: :text, input_html: {
        class: 'autocomplete_multiple',
        'data-target' => autocompletes_cooking_methods_path
      }%>
    <%= f.input :cultural_influence_list, as: :text, input_html: {
        class: 'autocomplete_multiple',
        'data-target' => autocompletes_cultural_influences_path
      }%>
    <%= f.input :course_list, as: :text, input_html: {
        class: 'autocomplete_multiple',
        'data-target' => autocompletes_courses_path
      }%>
    <%= f.input :dietary_restriction_list, as: :text, input_html: {
        class: 'autocomplete_multiple',
        'data-target' => autocompletes_dietary_restrictions_path
      }%>
  </fieldset>

  <fieldset id="images">
    <legend>Images</legend>
    <div class="images">
      <%= f.simple_fields_for :images do |image_form| %>
        <div class="image-wrapper">
          <div class="image">
            <%= image_form.input :caption %>
            <%= image_form.input :featured, as: :boolean %>
            <% if image_form.object.persisted? %>
              <%= image_form.input :_destroy, as: :boolean %>
              Preview: <%= link_to(image_tag(image_form.object.image(:tiny)), image_form.object.image.url(:large), target: '_blank') %>
            <% end %>
            <%= image_form.file_field :image %>
          </div>
        </div>
      <% end %>
    </div>
  </fieldset>

  <fieldset>
    <%= f.button :submit %>
  </fieldset>

<% end %>
