<%= simple_form_for @recipe do |f| %>

  <fieldset id="recipe_metadata">
    <legend>New Recipe</legend>
    <%= f.input :name %>
    <div class="metadata">
      <%= f.input :preparation_time %>
      <%= f.input :cooking_time %>
      <%= f.input :servings %>
      <%= f.input :serving_units, input_html: {
        class: 'autocomplete_single',
        'data-target' => autocompletes_serving_units_path
      }%>
    </div>
  </fieldset>

  <fieldset id="ingredients">
    <legend>Ingredients</legend>
    <div id="ingredients_container">
      <%= f.simple_fields_for :recipe_ingredients do |ri_form| %>
        <div class="ingredient" data-ingredient-index="<%= ri_form.index %>">
          <%= ri_form.input :quantity %>
          <%= ri_form.input :unit, input_html: {
            class: 'autocomplete_single',
            'data-target' => autocompletes_ingredient_units_path
          }%>
          <%= ri_form.simple_fields_for :ingredient do |i_form| %>
            <%= i_form.input :name, required: false, input_html: {
              class: 'autocomplete_single',
              'data-target' => autocompletes_ingredient_names_path
            }%>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="more_ingredients">
      <a href="#" id="more_ingredients_control">More ingredients</a>
    </div>
  </fieldset>

  <fieldset id="directions">
    <legend>Directions</legend>
    <%= f.input :directions, as: :text %>
  </fieldset>

  <fieldset id="taggables">
    <%= f.input :cooking_method_list, input_html: {
        class: 'autocomplete_multiple',
        'data-target' => autocompletes_cooking_methods_path
      }%>
    <%= f.input :cultural_influence_list, input_html: {
        class: 'autocomplete_multiple',
        'data-target' => autocompletes_cultural_influences_path
      }%>
    <%= f.input :course_list, input_html: {
        class: 'autocomplete_multiple',
        'data-target' => autocompletes_courses_path
      }%>
    <%= f.input :dietary_restriction_list, input_html: {
        class: 'autocomplete_multiple',
        'data-target' => autocompletes_dietary_restrictions_path
      }%>
  </fieldset>

  <fieldset>
    <%= f.button :submit %>
  </fieldset>

<% end %>
