<div class="<%= dom_class(recipe) %> bg-white rounded-xl shadow-sm hover:shadow-lg hover:-translate-y-0.5 transition-all duration-200 overflow-hidden" id="<%= dom_id(recipe) %>">
  <% if recipe.featured_image? %>
    <%= render 'homepage_image', image: recipe.featured_image %>
  <% else %>
    <div class="image not_featured">
      <%= link_to(image_tag('recipe_placeholder.svg', class: 'w-full aspect-4/3 object-cover'), url_to_recipe(recipe)) %>
    </div>
  <% end %>
  <h2 class="text-center text-sm px-3 py-3"><%= link_to(recipe.name, url_to_recipe(recipe), class: 'text-ink no-underline hover:text-terra hover:underline') %></h2>
</div>
