<article class="<%= dom_class(@recipe) %>" id="<%= dom_id(@recipe) %>">
  <div class="recipe-narrative">
    <h1><%= @recipe.name %></h1>
    <h2><%= l(@recipe.created_at, format: :default) %>, by
      <span class="user">
        <%= @recipe.user_email %>
      </span>
      <% if @recipe.user == current_user %>
        <%= link_to('edit', edit_recipe_path(@recipe)) %>
      <% end %>
    </h2>

    <ul class="recipe_ingredients">
      <%= render @recipe.recipe_ingredients %>
    </ul>

    <div class="directions">
      <%= raw markdown_format(@recipe.directions) %>
    </div>
  </div>

  <div class="tags">
    <%= render 'tagged_attributes', recipe: @recipe, attribute: 'cooking_methods' %>
    <%= render 'tagged_attributes', recipe: @recipe, attribute: 'cultural_influences' %>
    <%= render 'tagged_attributes', recipe: @recipe, attribute: 'courses' %>
    <%= render 'tagged_attributes', recipe: @recipe, attribute: 'dietary_restrictions' %>
  </div>

  <div class="images">
    <%= render @recipe.images %>
  </div>

</article>
