<article class="<%= dom_class(@recipe) %>" id="<%= dom_id(@recipe) %>">
  <div class="recipe-narrative">
    <h1 class="title"><%= @recipe.name %>
      <% if @recipe.user == current_user %>
        <%= link_to('edit', edit_recipe_path(@recipe)) %>
      <% end %>
    </h1>

    <% if @recipe.description? %>
      <blockquote class="description">
        <%= sanitize(markdown_format(@recipe.description)) %>
      </blockquote>
    <% end %>

    <ul class="recipe_ingredients">
      <%= render @recipe.recipe_ingredients.order('id') %>
    </ul>

    <div class="directions">
      <%= sanitize(markdown_format(@recipe.directions)) %>
    </div>
  </div>

  <div class="tags">
    <div class="metadata">
      <% if @recipe.preparation_time? %>
        <div><span class="type">Prep time:</span> <%= @recipe.preparation_time %> minutes</div>
      <% end %>
      <% if @recipe.cooking_time? %>
        <div><span class="type">Total Cooking time:</span> <%= @recipe.cooking_time %> minutes</div>
      <% end %>
      <% if @recipe.servings? || @recipe.serving_units? %>
        <div><span class="type">Makes:</span> <%= @recipe.servings %> <%= @recipe.serving_units %></div>
      <% end %>
      <div><span class="type">Created:</span> <%= l(@recipe.created_at, format: :default) %></div>
      <% if @recipe.user_email.present? %>
        <div class="user">
          by: <span class="badge"><%= link_to(@recipe.user_email, root_path(filter_set: { author: @recipe.user_email } )) %></span>
        </div>
      <% end %>
    </div>
    <%= render 'tagged_attributes', recipe: @recipe, attribute: 'cooking_methods' %>
    <%= render 'tagged_attributes', recipe: @recipe, attribute: 'cultural_influences' %>
    <%= render 'tagged_attributes', recipe: @recipe, attribute: 'courses' %>
    <%= render 'tagged_attributes', recipe: @recipe, attribute: 'dietary_restrictions' %>
  </div>

  <div class="images" id="image_list">
    <%= render @recipe.images.order('id') %>
  </div>

</article>
<% content_for(:page_title, @recipe.name) %>
