<nav>
  <% if current_user.present? %>
    <%= link_to t('ui.recipes.links.new'), new_recipe_path %>
    <%= link_to t('ui.meal_plans.links.new'), new_meal_plan_path %>
    <%= link_to(
      t('ui.recipes.links.my'),
      root_path(filter_set: { author: current_user.email })
    ) %>
  <% end %>
  <% if current_user.present? %>
    <%= link_to "#{current_user.email}, log out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %>
  <% else %>
    <%= link_to 'log in', new_user_session_path, class: 'login' %>
  <% end %>
</nav>
