<div class="<%= dom_class(image) %> <%= featured_image_class(image) %> thumbnail" id="<%= dom_id(image) %>">
  <%= link_to(filepicker_image_tag(image.filepicker_url, w: 185, h: 185, fit: 'crop', cache: true), "#openModal#{image.id}") %>
</div>

<div id="openModal<%= image.id %>" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <%= filepicker_image_tag(image.filepicker_url, w: 800, h: 600, fit: 'crop', cache: true) %>
    <% if image.caption? %>
      <div class="caption">
        <%= image.caption %>
      </div>
    <% end %>
  </div>
</div>
