<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <title><%= page_title(app_name: ENV.fetch('APP_NAME', 'Recipes')) %></title>
    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= body_class %>">
    <div class="main-container">
      <header class="site">
        <h1><%= link_to(ENV.fetch('APP_NAME', 'Recipes'), root_path) %></h1>
      </header>
      <div class="body-container">
        <%= render 'nav' -%>
        <%= render 'flashes' -%>
        <div id="main_content">
          <%= yield %>
        </div>
        <%= render 'footer' -%>
      </div>
    </div>
    <%= filepicker_js_include_tag %>
    <%= render 'javascript' -%>
    <%= render 'analytics' -%>
  </body>
</html>
